<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UCAS"
        tools:targetApi="31">
        <activity
            android:name=".UCAS11"
            android:exported="false" />
        <activity
            android:name=".UCAS10"
            android:exported="false" />
        <activity
            android:name=".UCAS9"
            android:exported="false" />
        <activity
            android:name=".UCAS8"
            android:exported="false" />
        <activity
            android:name=".UCAS7"
            android:exported="false" />
        <activity
            android:name=".UCAS6"
            android:exported="false" />
        <activity
            android:name=".UCAS5"
            android:exported="false" />
        <activity
            android:name=".UCAS4"
            android:exported="false" />
        <activity
            android:name=".UCAS3"
            android:exported="false" />
        <activity
            android:name=".UCAS2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>